@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('/static/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard JP';
    font-weight: 400;
    src: url('/static/fonts/PretendardJPVariable.woff2') format('woff2-variations');
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard', 'Pretendard JP', 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
}

.headerContainer {
    width: 100%;
    height: 75px;
    display: flex;
    background-color: rgb(25, 25, 25);
    border-bottom: 2px solid rgb(100, 100, 100);
}

.headerItems {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: .15s ease-in-out;
    cursor: pointer;
}
.headerItems:hover {
    background-color: rgb(50, 50, 50);
}

.headerAuthItems {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    font-size: 1.2rem;
    margin-left: auto;
    font-weight: bold;
    text-decoration: none;
    transition: .15s ease-in-out;
    cursor: pointer;
}
.headerAuthItems:hover {
    background-color: rgb(50, 50, 50);
}

.footerContainer {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(25, 25, 25);
}

.mainWrapper {
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25, 25, 25)
}

.mainTitle {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    animation: 2s anim-lineUp ease-out;
}

.plainText {
    color: white;
    font-size: 1rem;
}

.loginInput {
    width: 25%;
    height: 46px;
    color: rgb(247, 248, 248);
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1rem;
    appearance: none;
    transition: border 0.15s ease 0s;
}

.loginInput:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}

.loginButton {
    display: inline-block;
    color: #FFFFFF;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    transition: transform 200ms
}
.loginButton:hover{
    transform: translateY(-2px);
}


@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}